<app-header [componente]="'Tareas'"></app-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>TAREAS</ion-card-title>
      <ion-card-subtitle>{{ usuario }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list *ngIf="tareas">
        <ion-item *ngFor="let tareaActual of tareas">
          <ion-item (click)="marcar(tareaActual.id)">
            <ion-checkbox checked="{{ tareaActual.completed }}" fill="start"></ion-checkbox>
          </ion-item>
          <ion-item class="ion-justify-content-start" expand="block" (click)="cargarTarea(tareaActual)">
            <ion-label>{{ tareaActual.title }}</ion-label>
          </ion-item>
          <ion-icon name="close-circle-outline" (click)="borrar(tareaActual.id)"></ion-icon>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-fab horizontal="start" class="ion-margin">
    <ion-fab-button (click)="agregarNuevaTarea()" expand="block">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


<ion-footer class="ion-padding">
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>