<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{ ingreso.value.title? ingreso.value.title : 'Nueva Tarea'}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="ingreso">
    <ion-list>
      <ion-item>
        <ion-input label="Título:"
          labelPlacement="stacked"
          formControlName="title"
          fill="solid" [clearInput]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea label="Descripción:"
        rows="6"
          labelPlacement="stacked"
          formControlName="text"
          fill="solid">
      </ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>